.form{
    position: absolute;
    right: 0;
    margin: 5vw;
    text-align: center;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
  }
  
  .form-group label {
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: white;
    padding: 0 5px;
    font-size: 14px;
    color: #888;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    outline: none;
    border-color: #888;
  }